.container {
  max-width: 1440px;
  height: 449px;
  background-color: #2D0C5E;

  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h4 {
    text-align: center;
    color: white;
  }

  >section {
    max-width: 781px;

    h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.005em;

      color: #FFFFFF;

    }
  }
}

.filter {
  max-width: 1033px;
  padding: 0 8.5rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  margin: 0 auto;

  button {
    border: 0;
    padding: 8px 16px;

    cursor: pointer;

    background: #FFFFFF;
    border-radius: 4px;

    margin: 4px;

    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #323232;
    }
  }
}