.headerContainer {
  background-color: #5C16C5;
  max-width: 1440px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 2rem;

}

.headerContent {

  padding: 0 5rem;


  >svg {
    width: 184px;
  }
}